
dj-database-url==0.5.0
dj-static==0.0.6
python-decouple==3.3
asgiref==3.7.2


Django==3.2.8
fonttools==4.44.0
gunicorn==21.2.0
tensorflow-cpu==2.6.0
keras<=2.7.0
numpy>=1.22.0, <1.24.0

packaging==23.2
pandas
Pillow==10.1.0
pn==0.0.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1

scikit-learn
sqlparse==0.4.4
tzdata==2023.3
django-environ~=0.4.5
dj-database-url==0.5.0
psycopg2
django-cloudinary-storage~=0.3.0
python-decouple==3.3
rembg
typing-extensions==4.0.1
scipy